html,
body {
  background: #F7F7F7;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Jost;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, Jost;
}
